@import url("/src/assets/css/dashboard.css");

.landlord-dashboard {
    & .dashboard-card-cont {
        gap: clamp(1rem, 10vw, 5rem);

        & > * {
            flex: 1 1;
        }
    }

    & .dasbord-card {
        display: flex;
        flex-direction: column;
        gap: clamp(0.5rem, 5vw, 2rem);
        background-color: var(--primary-clr-601);
        padding: clamp(0.5rem, 5vw, 2rem) clamp(1rem, 5vw, 2rem);
    }

    & .dasbord-card .heading h4{
        font-family: poppins-regular;
        font-size: 2.304rem;
        line-height: 3.456rem;
        font-weight: 500;
        color: var(--white-clr-100);
    }

    & .dasbord-card .stats-cont h2{
        font-family: poppins-regular;
        font-size: 4.778rem;
        line-height: 7.167rem;
        font-weight: 600;
        color: var(--accent-clr-601);
        text-align: center;
    }

    & .dasbord-card .btn-cnt {
        align-self: flex-end;
    }

    & .dasbord-card .btn-cnt button{
        background-color: var(--primary-clr-501);
        font-family: mulish-default;
        font-size: var(--size-14);
        line-height: 1.56rem;
        font-weight: 400;
        color: var(--white-clr-100);
        padding: var(--size-10);
        border-radius: var(--size-5);
    }

    & .dasbord-card .heading > span > svg {
        width: var(--size-37);
        height: auto;
    }

}

/* Rent Overview */
.performance-dashboard {
    background-color: #1E1E1E;
    color: white;
    font-family: Arial, sans-serif;

    .chart-container {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        background: #282828;
        border-radius: 10px;
    }

    .legend {
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
    }

    .legend-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .color-box {
        width: 20px;
        height: 20px;
        border-radius: 3px;
    }

    .rent {
        background-color: #66FF66;
    }

    .short-let {
        background-color: #FF5733;
    }

    .legend-text {
        font-size: 18px;
    }
}


.post-property-cont {

    & .btn-cont {
        width: fit-content !important;
        margin: unset;
        float: right;
        margin-left: auto;
    }

    & .btn-cont button {
        width: fit-content;
        font-family: poppins-regular;
        font-size: var(--size-16);
        line-height: 1.92rem;
        font-weight: 500;
        color: var(--primary-clr-1001);
        padding-inline: var(--size-30);
    }
}