@import url("/src/assets/css/dashboard.css");

.landlord-dashboard {
    gap: clamp(2rem, 10vw, 5rem);

    & .dashboard-card-cont {
        gap: clamp(1rem, 10vw, 1rem);

        & > * {
            flex: 1 1 100%;
        }
    }

    & .dasbord-card {
        display: flex;
        flex-direction: column;
        gap: clamp(0.5rem, 5vw, 2rem);
        background-color: var(--primary-clr-601);
        padding: clamp(0.5rem, 5vw, 2rem) clamp(1rem, 5vw, 2rem);
    }

    & .dasbord-card .heading h4{
        font-family: poppins-regular;
        font-size: 2.304rem;
        line-height: 3.456rem;
        font-weight: 500;
        color: var(--white-clr-100);
    }

    & .dasbord-card .stats-cont h2{
        font-family: poppins-regular;
        font-size: 4.778rem;
        line-height: 7.167rem;
        font-weight: 600;
        color: var(--accent-clr-601);
        text-align: center;
    }

    & .dasbord-card .btn-cnt {
        align-self: flex-end;
    }

    & .dasbord-card .btn-cnt button{
        background-color: var(--primary-clr-501);
        font-family: "Mulish", sans-serif;
        font-size: var(--size-14);
        line-height: 1.56rem;
        font-weight: 400;
        color: var(--white-clr-100);
        padding: var(--size-10);
        border-radius: var(--size-5);
    }

    & .dasbord-card .heading > span > svg {
        width: var(--size-37);
        height: auto;
    }

}

/* Rent Overview */
 /* Rent Stats */
 .rent-stats {
    background-color: var(--primary-clr-601);
    border-radius: var(--size-10);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;

    & .heading h3 {
        font-family: poppins-regular;
        font-size: var(--size-20);
        line-height: var(--size-30);
        font-weight: 400;
        color: var(--secondary-clr-101);
    }

    & .perf-legend {
        padding-inline: var(--size-40) 20rem;
    }

    .legend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--size-15);
        margin-bottom: var(--size-10);
    }

    & .legend-item {
        display: flex;
        align-items: center;
        gap: var(--size-10);

        & span {
            font-family: poppins-regular;
            font-size: 1.92rem;
            line-height: 2.88rem;
            font-weight: 400;
            color: var(--white-clr-100);
        }
    }

    .rent {
        background-color: #D48166 !important;
    }

    .short-let {
        background-color: #BF4469 !important;
    }

    & .legend-text {
        font-size: var(--size-18);
    }

    & canvas {
        background-color: transparent;
    }
}

.rent-stats--2 {
    /* width: 100%;
    max-width: 100%; */
    background-color: var(--primary-clr-601);
    border-radius: var(--size-10);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;

    & .heading h3 {
        font-family: poppins-regular;
        font-size: var(--size-20);
        line-height: var(--size-30);
        font-weight: 400;
        color: var(--secondary-clr-101);
    }

    & .perf-legend {
        padding-inline: var(--size-40) 20rem;
    }

    .legend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--size-15);
        margin-bottom: var(--size-10);
    }

    & .legend-item {
        display: flex;
        align-items: center;
        gap: var(--size-10);

        & span {
            font-family: "Mulish", sans-serif;
            font-size: var(--size-16);
            line-height: 1.92rem;
            font-weight: 600;
            color: var(--secondary-clr-101);

            & p {
                font-size: var(--size-13);
                line-height: 1.56rem;
                font-weight: 500;
                width: fit-content;
            }
        }
    }

    .rent {
        background-color: #34C759 !important;
    }

    .short-let {
        background-color: #ED4D44 !important;
    }

    & .legend-text {
        font-size: var(--size-18);
    }

    & canvas {
        background-color: transparent;
    }

}

/* Chart Container */
.chart-container {
    width: 100%;
    max-width: 100%;
    padding: var(--size-30);
    background-color: var(--primary-clr-601);
    border-radius: var(--size-10);
    text-align: center;

    & .heading h3 {
        font-family: poppins-regular;
        font-size: var(--size-20);
        line-height: var(--size-30);
        font-weight: 400;
        color: var(--secondary-clr-101);
    }

    & .perf-legend {
        display: flex;
        flex-wrap: wrap;
        padding-inline: var(--size-40) 20rem;
    }

    & .legend {
        display: flex;
        justify-content: center;
        gap: var(--size-20);
        margin-bottom: var(--size-10);
    }

    & .legend-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: clamp(0.2rem, 5vw, 1rem);

        & span {
            font-family: poppins-regular;
            font-size: 1.92rem;
            line-height: 2.88rem;
            font-weight: 400;
            color: var(--white-clr-100);
        }
    }

    & .rent {
        background-color: #66FF66;
    }

    & .short-let {
        background-color: #FF5733;
    }

    & .legend-text {
        font-size: var(--size-18);
    }

    & canvas {
        width: 100% !important;
        height: 400px !important;
        padding: var(--size-10);
        background-color: transparent;
    }
}

.rent-chart {
    width: 100%;
    max-width: 100%;
    background-color: var(--primary-clr-601);
    padding: var(--size-50);
    border-radius: var(--size-10);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;

    & .heading h3 {
        font-family: poppins-regular;
        font-size: var(--size-20);
        line-height: var(--size-30);
        font-weight: 400;
        color: var(--secondary-clr-101);
    }

    & .perf-legend {
        display: flex;
        flex-wrap: wrap;
        padding-inline: var(--size-40) 20rem;
    }

    .legend {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--size-15);
        margin-bottom: var(--size-10);
    }

    & .legend-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: clamp(0.2rem, 5vw, 1rem);

        & span {
            font-family: poppins-regular;
            font-size: 1.92rem;
            line-height: 2.88rem;
            font-weight: 400;
            color: var(--white-clr-100);
        }
    }

    .rent {
        background-color: #D48166;
    }

    .short-let {
        background-color: #BF4469;
    }

    & .legend-text {
        font-size: var(--size-18);
    }

    & canvas {
        width: 100% !important;
        height: 40rem !important;
        padding: var(--size-5);
        background-color: transparent;
    }

}

.post-property-cont {

    & .btn-cont {
        width: fit-content !important;
        margin: unset;
        float: right;
        margin-left: auto;
    }

    & .btn-cont button {
        width: fit-content;
        font-family: poppins-regular;
        font-size: var(--size-16);
        line-height: 1.92rem;
        font-weight: 500;
        color: var(--primary-clr-1001);
        padding-inline: var(--size-30);
    }
}

.landlord-dashboard {
    & .dashboard-card-cont {

        & > * {
            flex: 1 1 calc(100% / 2 - 10px);
        }
    }

    & .color-box {
        width: var(--size-30);
        height: var(--size-25);
        border-radius: var(--size-2);
    }
}

.main-content-container {
    & .page-heading h3 {
        font-family: "Montserrat", sans-serif;
        font-size: var(--size-23);
        line-height: 2.76rem;
        font-weight: 600;
        color: var(--white-clr-100);
    }
}