@import url("/src/assets/css/dashboard.css");

/* Profile */
.profile {
    & .section-info {
        background-color: var(--primary-clr-501);
        color: var(--white-clr-100);
        border-radius: var(--size-10);
        padding: var(--size-28) var(--size-29);
        margin-inline: auto;

        & .info-grid {
            gap: clamp(1rem, 20vw, 20rem);
        }

        & .heading {
            margin-bottom: var(--size-20);
        }

        & .heading h5 {
            font-family: "Mulish", sans-serif;
            font-size: var(--size-19);
            line-height: 2.28rem;
            font-weight: 500;
        }

        & .info-left, .info-right {
            gap: clamp(1rem, 4rem, 4rem);
        }

        & .profile-info {
            & > {
                flex: 1 1 20rem;
                /* background-color: red; */
            }
        }

        & .details {
            & .sub-info {
                display: flex;
                flex-direction: column;
                gap: clamp(0.5rem, 1.2rem, 1.2rem);

                &.profile-photo {
                    position: relative;
                    display: inline-block;
                    width: 8rem;
                    height: 8rem;
                    border-radius: 50%;

                    & span {
                        position: absolute;
                        bottom: 0px;
                        right: -1.8rem;
                        width: var(--size-40);
                        height: var(--size-40);
                    }

                    & .profile-img {
                        width: fit-content;
                        height: fit-content;
                        position: absolute;
                    }
                }

                & span svg {
                    width: var(--size-30);
                    height: auto;
                }

                & span svg path {
                    fill: var(--accent-clr-601);
                }

                & img {
                    display: block;
                    width: 8rem;
                    height: 8rem;
                    border-radius: 50%;
                    background-position: center;
                }
            }

            & .profile-name {
                font-family: "Mulish", sans-serif;
                font-size: var(--size-19);
                line-height: 2.28rem;
                font-weight: 600;
                color: var(--white-clr-100);
            }

            & .label {
                font-family: "Mulish", sans-serif;
                font-size: var(--size-19);
                line-height: var(--size-19);
                font-weight: 400;
                color: rgba(255, 255, 255, 0.6);
            }

            & .label-value {
                font-family: "Mulish", sans-serif;
                font-size: var(--size-16);
                line-height: var(--size-19);
                font-weight: 400;

                & a {
                    font-family: "Mulish", sans-serif;
                    font-size: var(--size-13);
                    line-height: 1.56rem;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.6);
                    text-decoration: underline;
                }
            }
        }
    }

    & .section-info:not(:last-child) {
        margin-bottom: var(--size-40);
    }
}

.profile-edit-button {
    & .btn-cont {
        margin: 0 auto;
    }

    & .btn-cont button {
        width: fit-content;
        padding: var(--size-14) var(--size-24);
        float: right;
    }
}

.profile-edit {
    display: none;
    & .heading {
        margin-bottom: var(--size-20);

        & h4 {
        font-family: "Montserrat", sans-serif;
        font-size: var(--size-23);
        line-height: 2.76rem;
        font-weight: 700;
        color: var(--white-clr-100);
        }
    }

    & .sub-section {
        gap: clamp(0.5rem, 4rem, 4rem);
        margin-bottom: var(--size-30) !important;
    }

    & .input-group > label::after, .checkboxs > label::after {
        content: "" !important;
        color: unset !important;
    }

    .input-section > .bank-details-left, .bank-details-right{
        flex: 1 1;
    }


    & input {
        border-radius: var(--size-5) !important;
    }

    & .sub-section {
        gap: var(--size-40);

        input {
            min-width: calc(100% / 2 - 200px);
            background-color: var(--primary-clr-401);
            font-family: "Mulish", sans-serif;
            font-size: var(--size-16);
            line-height: 1.92rem;
            font-weight: 400;
            color: #FFFFFF80;
            height: var(--size-60);

            &::placeholder {
                color: #FFFFFF80;
            }

        }

        & .expiry-container {
            border: none;
            width: fit-content;
            background-color: var(--primary-clr-401);
            border-radius: var(--size-5);

            & .expiry-input {
                text-align: center;
                margin-bottom: unset;
                border: unset;

                &.mm {
                    border-top-left-radius: var(--size-5);
                    border-bottom-left-radius: var(--size-5);
                }

                &.yy {
                    border-top-right-radius: var(--size-5);
                    border-bottom-right-radius: var(--size-5);
                }
            }

            & span {
                width: var(--size-2);
                height: var(--size-30);
                background-color: var(--white-clr-100);
                transform: translate(50%) rotate(15deg);
            }
        }
    }
}


/* Small mobile */
@media (max-width: 480px) {

}

/* Medium mobile */
@media (max-width: 768px) {

}

/* Large tablets */
@media (max-width: 1024px) {

    .profile {
        & .info-grid  {
            flex-wrap: wrap;
        }
    }

    .profile-edit {
        & .info-grid {
            flex-wrap: wrap;
        }
    }

}
