@import url("/src/assets/css/terms-conditions.css");

/* Terms and Conditions */
body {
    background-color: #262725;
}

.page-hero--rent {
    & .static-bg--rent {
        background-image: url(/src/assets/images/rent-image-bg.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    header {
        background-color: var(--primary-clr-1001);
        padding-inline: clamp(2rem, 10vw, 10rem);
        padding-block: clamp(1rem, 5vh, 5rem);
    }

    & .hero-text-search {
        position: relative;
        width: 100%;
        min-height: 68vh;
        padding-inline: clamp(5rem, 10vw, 10rem);
        padding-block: clamp(2rem, 3vh, 6rem);
        gap: clamp(1rem, 4vh, 2rem);

        & .text {
            margin-bottom: var(--size-20);
        }

        & .heading--h2 {
            color: var(--accent-clr-201);
            font-size: 6rem;
        }

        &::before {
            content: "";
            position: absolute;
            background: rgb(28,29,27);
            background: linear-gradient(90deg, rgba(28,29,27,0.548358718487395) 45%, rgba(28,29,27,0.04947916666666663) 80%, rgba(143,150,140,0) 100%);            width: 100%;
            width: 100%;
            height: 68vh;
            top: 0;
            left: 0;
            z-index: 1;
        }


        & .search-inputs button, .search-inputs a {
            /* width: 40px; */
            display: flex;
            gap: max(var(--size-10));
            align-items: center;
            font-family: "Mulish", sans-serif;
            font-size: var(--size-16);
            line-height: var(--size-19);
            font-weight: 500;
            border-radius: var(--size-5);
            padding: clamp(0.5rem, 10vw, 1.2rem) clamp(0.5rem, 10vw, 2.4rem);
            border: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: var(--primary-clr-501);
                color: var(--white-clr-100);
            }

            &.active {
                position: relative;
                background-color: var(--primary-clr-501);
                color: var(--white-clr-100);
                z-index: 10;
            }

            &:hover svg path {
                stroke:  var(--white-clr-100);
            }

            & svg {
                width: var(--size-24);
                height: var(--size-24);

                & path {
                    transition: all 0.1s ease-in-out;
                }
            }

            /* &.find {
                background-color: var(--accent-clr-601);
                color: var(--white-clr-100);

                & svg path {
                    fill: var(--white-clr-100);
                }
            } */
        }

        & .dropdown-option {
            min-height: var(--size-50);
            position: relative;
            z-index: 2;

            & button {
                min-height: var(--size-55);
            }

            & button:nth-of-type(1){
                border-top-left-radius: var(--size-5);
                border-top-right-radius: var(--size-5);
            }

            & button:last-of-type{
                border-bottom-left-radius: var(--size-5);
                border-bottom-right-radius: var(--size-5);
            }
        }

        & .dropdown-btn-group {
            display: none;
            position: absolute;
            width: max-content;
            min-width: 100%;
            margin-top: 0.5rem;

            & button {
                width: 100%;
                font-size: var(--size-16);
                line-height: var(--size-19);
                color: var(--primary--clr-901);
                background-color: var(--white-clr-100);
                border-radius: unset;
                transition: all 0.3s ease-in-out;
                justify-content: left;

                &:hover {
                    background-color: var(--accent-clr-101);
                    color: var(--primary--clr-901);
                }
            }

            &.show {
                position: absolute;
                display: flex;
            }

        }

        .light-dark {
            width: 78vw;
        }

        .search-inputs-group {
            width: 100%;
        }

        & .search-inputs-group > * {
            flex: 1 1 calc(100% / 4 - 10px);
        }


        & .search-container--top, .search-container--bottom, .text {
            position: relative;
            z-index: 2;
        }

        & .search-container--bottom {
            position: relative;
            z-index: 3;
        }

        & .search-container--top .search-inputs-group {
            & > * {
                flex: 0 1 auto;
            }
            & .search-inputs:nth-of-type(1), .search-inputs:nth-of-type(3) {
                width: fit-content;

                & .input-group {
                    width: fit-content;
                }
            }
        }
    }

    & .input-group button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: clamp(1rem, 10vw, 4.1rem);
        background-color: var(--secondary-clr-201);
        color: var(--primary-clr-401);
        padding: var(--size-12) clamp(0.5rem, 5vw, 1.4rem);
    }

    & .input-group input {
        background-color: var(--secondary-clr-301);
        border-radius: var(--size-5);
        padding: clamp(1rem, 4vw, 1.8rem) var(--size-16);
        padding-left: var(--size-58);
        width: clamp(fit-content, 20vw, 40rem);
        height: auto;
    }

    & .input-group .search {
        background-color: var(--accent-clr-601);
        color: var(--white-clr-100);
        & > .search-icon svg path{
            stroke: var(--white-clr-100);
        }

        & svg path {
            fill:  var(--white-clr-100);
        }
    }

    & .input-group .search-icon svg {
        fill:  var(--primary-clr-401);
    }

    & .input-group .rent {
        background-color: var(--secondary-clr-1001);
        color: var(--accent-clr-601);


        & svg path {
            stroke: var(--accent-clr-601) !important;
        }


        &.active {
            background-color: var(--secondary-clr-1001) !important;
            color: var(--accent-clr-601);
        }

        &:hover svg path {
            stroke:  var(--accent-clr-601);
        }

        & svg {
            width: var(--size-24);
            height: var(--size-24);

            & path {
                transition: all 0.1s ease-in-out;
            }
        }
    }

    & .input-group svg {
        width: var(--size-26);
        height: auto;
    }


}

.pnc{
    /* & .slide-wrapper {
        gap: clamp(2rem, 20vw, 6.8rem);
    } */

    & .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
}

.pnc {
    position: relative;

    & .slide-navigation {
        width: 100%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        z-index: 100;
        height: auto;

        & button.hidden {
            display: none;
        }

        & .next {
            margin-top: -30px;
            margin-right: var(--size-30);
        }

        & .prev {
            margin-top: -30px;
            margin-left: var(--size-30);
        }

        & .prev, .next {
            width: clamp(2.5rem, 15vw, 7.6rem);
            height: clamp(2.5rem, 15vw, 7.6rem);
            border-radius: 50%;
            background-color: var(--primary-clr-701);
            box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.25);
            -webkit-box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.75);
            margin-top: -20%;
        }

        & svg {
            width: clamp(1.5rem, 10vw, 2.6rem);
            height: auto;
        }
        & svg path {
            stroke: var(--white-clr-100);
        }
    }
}

.property-rent {
    & .section-heading {
        display: flex;
        align-items: center;
        background-color: var(--primary-clr-901);
        height: 15vh;
        padding-inline: clamp(2rem, 10vw, 10rem);
    }

    & .section-heading .heading--h3 {
        font-family: poppins-bold;
    }

    & .property-rent-content {
        max-width: 92%;
        overflow: hidden;
        padding-inline: clamp(2rem, 10vw, 4rem);
        padding-block: clamp(1rem, 5vw, 2rem) clamp(2rem, 5vw, 4rem);
        margin-inline: auto;

        & .heading--h4 {
            font-family: "Montserrat", sans-serif;
            font-size: var(--size-28);
            line-height: var(--size-33);
            font-weight: 600;
            color: var(--white-clr-100);
            margin-block: var(--size-15) var(--size-35);
        }
    }

    & .property-cards-container {
        gap: clamp(0.5rem, 5vw, 2rem);

        & .text .heading--h4 {
            font-family: "Montserrat", sans-serif;
            font-size: var(--size-23);
            line-height: var(--size-28);
            color: var(--primary-clr-1101);
            font-weight: 600;
        }

        & > * {
            flex: 1 1 auto;
        }

        & .block {
            min-width: 39rem;
        }

        & .property-includes {
            flex-wrap: wrap;
        }

        & .includes {
            padding: var(--size-6) var(--size-14);
        }
    }
}

.all-listings {
    background-color: var(--primary-clr-901);
    padding-inline: clamp(2rem, 10vw, 5rem);
    padding-block: clamp(1rem, 10vw, 3rem);

    & .text .heading--h4 {
        font-family: "Montserrat", sans-serif;
        font-size: var(--size-28);
        line-height: var(--size-33);
        color: var(--white-clr-100);
        font-weight: 600;
        margin-block: var(--size-15) var(--size-35);
    }

    & .listings-cont {
        flex-wrap: wrap;
        gap: clamp(0.5rem, 4vw, 2rem);

        & .text .heading--h4 {
            font-family: "Montserrat", sans-serif;
            font-size: var(--size-23);
            line-height: var(--size-28);
            color: var(--primary-clr-1101);
            font-weight: 600;
        }

        & > * {
            flex: 1 1 calc(100% / 3 - 10px);
        }

        & .property-includes {
            flex-wrap: wrap;
        }
    }

    & .listings-cont {
        gap: clamp(0.5rem, 4vw, 2rem);
    }

    & .block {
        max-width: 40rem;
        min-width: 20rem;
        & .image-cont {
            & img {
                width: 100%;
                height: 100%;
            }
        }
    }

    & .includes {
        display: flex;
        gap: var(--size-5);
        max-width: fit-content;
        min-width: fit-content;
        background-color: var(--accent-clr-101);
        padding: var(--size-6) var(--size-14);
        border-radius: var(--size-5);
        color: var(--primary-clr-901);

        & span {
            font-family: "Mulish", sans-serif;
            font-size: var(--size-12);
            line-height: 1.56rem;
        }
    }

    & .price-details-link {
        flex-wrap: wrap;
        gap: var(--size-10);
    }

    & .pagination {
        justify-content: center;
        display: flex;
        gap: var(--size-10);
        margin-top: clamp(2rem, 10vw, 5rem);

        & > * {
            flex: 0 1 4rem;
        }

        & button {
            font-family: "Mulish", sans-serif;
            font-size: var(--size-12);
            line-height: 1.56rem;
            background-color: transparent;
            color: var(--white-clr-100);
            border: 1px solid var(--accent-clr-601);
            border-radius: var(--size-5);
            padding: 1rem 1rem;
            transition: background-color 0.5s ease-in-out;

            &.active {
                background-color: var(--accent-clr-601);
            }

            &:hover {
                background-color: var(--accent-clr-501);
                border: 1px solid var(--accent-clr-501);


            }
        }
    }
}


/* Small mobile */
@media (max-width: 480px) {
    .page-hero--rent {
        & .search-inputs-group {
            flex-wrap: wrap;
        }
        & .search-inputs-group > * {
            flex: 1 1 calc(100% / 2 - 10px);
            min-width: clamp(10rem, 30vw, 18rem);
        }
    }
}

/* Medium mobile */
@media (max-width: 768px) {

}

/* Large tablets */
@media (max-width: 1024px) {
    .page-hero--rent {
        & .search-inputs-group {
            flex-wrap: wrap;
        }
        & .search-inputs-group > * {
            flex: 1 1 calc(100% / 4 - 10px);
            min-width: clamp(18rem, 30vw, 29rem);
        }

        & .search-container--top .search-inputs-group {
            & > * {
                flex: 1 1 auto;
            }
            & .search-inputs:nth-of-type(1), .search-inputs:nth-of-type(3) {
                width: 100%;

                & .input-group {
                    width: 100% !important;
                }

                & .input-group button {
                    width: 100%;
                }
            }

            & .search-inputs:nth-of-type(3) {
                width: 100% !important;
            }

            & .input-group input {
                background-color: var(--secondary-clr-301);
                border-radius: var(--size-5);
                padding: clamp(1rem, 4vw, 1.8rem) var(--size-16);
                padding-left: var(--size-58);
                width: 100% !important;
                /* border: 1px solid red; */
                height: auto;
            }
        }
    }
}

@media (max-width: 999px) {
    .page-hero--rent {
        & .search-container--top .search-inputs-group {
            & > * {
                flex: 1 1 calc(100% / 2 - 10px) !important;
            }

            & .input-group input {
                width: unset;
                min-width: unset;
            }
        }

    }
}