/* Terms and Conditions */
@import url("/src/assets/css/style.css");

.page-hero {
    & .static-bg--tc {
        background-image: url(/src/assets/images/terms-and-condtions.png);
    }

    & .static-bg--pp {
        background-image: url(/src/assets/images/privacy-and-policy.png);
    }

    & .static-bg--fag {
        background-color: var( --accent-clr-901);
        background-image: url(/src/assets/images/faq-bg.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    & .static-bg--tc, .static-bg--pp {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
    }

    header {
        background-color: var(--primary-clr-1001);
        padding-inline: clamp(2rem, 10vw, 10rem);
        padding-block: clamp(2rem, 5vh, 5rem);
    }

    & .text {
        position: relative;
        width: 100%;
        min-height: 68vh;

        & :before {
            content: "";
            width: 100%;

            min-height: 100%;
            background: rgb(28,29,27);
            background: linear-gradient(90deg, rgba(28,29,27,0.248358718487395) 45%, rgba(28,29,27,0.04947916666666663) 80%, rgba(143,150,140,0) 100%);

            top: 0;
            left: 0;
            position: absolute;
            z-index: 2;
        }

        & .heading--h2 {
            color: var(--accent-clr-201);
            font-size: clamp(3.2rem, 10vw, 6rem);
            line-height: clamp(1rem, 12vw, 7.2rem);
            text-align: center;
        }
    }

}

.terms-and-conditions, .privacy-and-policy {

    & .static-bg {
        background-image: url(/src/assets/images/landing-slide-1.png);
        min-height: 100%;
    }

    & .content {
        padding-block: var(--size-50) 0;
        padding-inline: clamp(2rem, 12vw, 11rem);
    }

    & ol.level--1 > li:not(.level--2) {
        margin-bottom: var(--size-50);
    }

    & ol.level--1 h4  {
        font-size: 2.765rem;
        line-height: 4.147rem;
        font-weight: 600;
        color: var(--secondary-clr-601);
    }

    & ol.level--1 p {
        font-size: 2.304rem;
        line-height: 3.456rem;
        font-weight: 400;
        color: #F7F5F4;
    }

    & ul.level--2 {
        list-style-type: disc;
    }

    & ul.level--2, ol.level--2 {
        margin-left: var(--size-40);
    }

    & ul.level--2 li,
      ol.level--2 li {
        font-size: 2.304rem;
        line-height: 3.456rem;
        font-weight: 400;
        color: #F7F5F4;
    }

    .custom-ol {
        list-style: none;
        counter-reset: list-counter;
    }

    .custom-ol > li {
        display: flex;
        align-items: flex-start;
        gap: var(--size-8);
    }

    .custom-ol > li::before {
      content: counter(list-counter) ".";
      counter-increment: list-counter;
      font-size: 2.765rem;
      font-weight: 600;
      color: var(--secondary-clr-601);
    }

    .custom-ol > li > .list-content {
      display: block;
    }

    .custom-ol > li > *:not(.list-content) {
        margin-top: 0.5rem;
        flex-basis: 100%;
    }

}

/* Small mobile */
@media (max-width: 480px) {

}

/* Medium mobile */
@media (max-width: 768px) {

}

/* Large tablets */
@media (max-width: 1024px) {

}